$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$primary-font: "Poppins", sans-serif;

//Colors
$dark-blue: #264065;
$grey: #909090;
$light-grey: #FAF8F5;
$cyan: #A9D6CB;
