.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;

    &__green {
        position: absolute;
        top: 0;
        left: 1220px;
        width: 780px;
        height: auto;
    }

    &__girl {
        position: absolute;
        top: -15px;
        left: 380px;
        width: 82%;
        height: auto;
        z-index: 0;
    }

    &__gray {
        position: absolute;
        bottom: 95px;
        left: 0;
        width: 100%;
        height: 900px;
        background-color: $light-grey;
        z-index: -1;
    }
}