.hero {
    margin-bottom: 100px;
    margin-left: 50px;

    &__title {
        font-size: 64px;
        margin-bottom: 50px;
        font-weight: 800;
        line-height: 1.2;
        max-width: 750px;
        font-family: $primary-font;
        color: $dark-blue;
    }

    &__subtitle {
        font-size: 24px;
        margin-bottom: 50px;
        max-width: 750px;
        line-height: 1.6;
        color: $grey;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        .button{
            margin-right: 45px;
        }

        .button_play {
            margin-right: 8px;
        }

        span {
            color: $dark-blue;
            font-size: 18px;
            font-weight: 500;
        }
    }
}